@{
    Layout = "_Layout";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Second</th>
            <th scope="col">third</th>
            <th scope="col">Fourth</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
            <td>twitter</td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>x</td>
            <td>twitter</td>
        </tr>
        <tr>
            <td>Larry the Bird</td>
            <td>twitter</td>
            <td>twitter</td>
            <td>twitter</td>
        </tr>
        
    </tbody>
</table>