@{
    Layout = "_Layout";
    int cont = 0;
}
<table class="table">
    
        <h3>Welcome:@TempData.Peek("Email")</h3>
        <h4>Your links</h4>
       
    <tbody>
        @foreach(var x in ViewBag.Url)
        {
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                    <h5 class="card-title">@x</h5>
                    <p class="card-text">You link @{
                            cont += 1;
                        } @cont</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        }
       
       
        
    </tbody>
</table>